* {
    margin: 0 auto;
    padding: 0;
}

body {
    background: #dddddd;
}

header {
    width: 100%;
}

.header-top {
    width: 100%;
    height: 45px;
    background: black;
}

.header-top span {
    color: white;
    line-height: 45px;
    letter-spacing: 2px;
    font-size: 16px;
}

.header-top a {
    color: white;
    line-height: 45px;
    margin-left: 25px;
    font-size: 14px;
}

.navbar-brand {
    width: 380px;
}

@media (max-width: 972px) {
    .navbar-brand {
        width: 190px;
    }
}

.navbar-nav>li>a {
    height: 80px;
    line-height: 45px;
    width: 140px;
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #cb5405;
    background: url(img/lineorg.png) no-repeat 35px 60px;
}

.navbar {
    margin: 0;
}

.navbar-toggle {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    background-image: none;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 15px;
}

.rapid-btn {
    background: #e8420a;
    border-radius: 5px;
    width: 160px;
    height: 50px;
    margin-top: 15px;
}

.rapid {
    color: white;
    font-size: 28px;
    font-weight: 100;
}

.serach {
    position: absolute;
    bottom: 15%;
    left: 27%;
    /* margin-left: -306px; */
    width: 612px;
    height: 62px;
    border: solid 6px rgba(43, 41, 41, 0.5);
    border-radius: 10px;
}

.serach button {
    float: left;
    max-width: 25%;
    height: 50px;
    width: 150px;
    border: 0px;
}

.serach input {
    float: left;
    max-width: 50%;
    height: 50px;
    width: 300px;
    border: 0px;
    padding: 0px;
}

.s-left {
    background: #f2f3f7;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.s-right {
    background: #e8420a;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.bycar {
    margin-top: 10px;
    text-align: center;
}

.bus img {
    margin-top: 70px;
    margin-left: 15px;
}

.bus p {
    margin-top: 25px;
    margin-left: 12px;
    display: block;
    font-size: 26px;
    color: white;
}

.bus button {
    width: 70%;
    height: 50px;
    margin-top: 35px;
    border: solid 1px white;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: white;
}
.bycar-sm {
    display: none;
}
.bycar-p{
    display: none;
}
.bycar-button{
    display: none;
}
@media(min-width:750px) {
    .bycar-sm {
        display: none;
    }
}

@media (max-width: 750px) {
    .bycar-pc {
        display: none;
    }

    .bus {
        display: none;
    }

    .bycar-sm {
        display: block;
        background: white;
        height: 200px;
    }

    .bycar-sm img {
        margin-top: 45px;
        max-width: 100%;
        height: auto;
    }

    .bycar-p {
        display: block;
        background: white;
        height: 200px;
        padding-top: 40px;
        padding: 0;
        padding-top: 30px;
    }

    .bycar-p h4 {
        display: block;
        color: #1c5080;
        font-size: 30px;
    }

    .bycar-p p {
        display: block;
        margin-top: 30px;
        color: #1c5080;
        font-size: 18px;
    }

    .bycar-button {
        display: block;
        background: white;
        height: 200px;
        padding: 0;
    }

    .bycar-button button {
        display: block;
        width: 160px;
        height: 50px;
        margin: 70px auto;
        border: solid 1px #000000;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0);
        font-size: 20px;
        color: #000000;
    }

    @media (max-width: 520px) {
        .bycar-p h4 {
            font-size: 20px;
        }

        .bycar-p p {
            font-size: 12px;
        }

        .bycar-button button {
            width: 100px;
            height: 30px;
            font-size: 12px;

        }
    }

}

.hotroute {
    /* display: block; */
    margin-top: 20px;
    text-align: center;
    letter-spacing: 20px;
    font-size: 36px;
    color: #000000;
}

.xs-more{
    display: none;
}

@media(max-width:750px) {
    body{
        background: white;
    }
    .hr {
        background: white;
        margin-top: 20px;
        padding:40px 25px;
        border-top: solid 30px #e8e8e8;
    }

    .hotroute {
        display: block;
        border-left: solid 4px #cb5405;
        margin-top: 0;
        text-align: left;
        letter-spacing: 0;
        font-size: 30px;
        color: #000000;
    }

    .en-hotroute {
        display: none;
    }

    .thbn{
        margin:0 25px;
    }
    .thbn a{
        padding: 0;
        margin-top: 20px;
    }
    .rightblock{
        display: none;
    }
    .xs-more{
        display: block;
        height: 130px;
        text-align: center;
        background: white;
    }
    .visa{
        /* margin:0 40px; */
        padding: 0 25px;
        border-top: solid 30px #e8e8e8;
    }
    .visa-e{
        height: 100px;
        padding: 0;
        padding-top: 30px;
        border-bottom: solid 1px #e8e8e8;
    }
    .visa-p{
        display: none;
    }

}

.en-hotroute {
    text-align: center;
    font-size: 18px;
    color: #000000;
}

.thumbnail {
    margin: 0px;
    border: 0;
    background: #dddddd;
}

.black-cp {
    width: 100%;
    height: 82px;
    background: #000000;
    text-align: left;
}

.black-cp p {
    display: block;
    margin-left: 20px;
    font-size: 18px;
    color: white;
}

.black-cp p span {
    font-size: 30px;
}

.rightblock a {
    padding: 2px 0;
}

.white-cp {
    height: 85px;
    width: 100%;
    background: rgba(129, 126, 126, 0.521);
    position: absolute;
    bottom: 0px;
    text-align: left;
}

.white-cp p {
    font-size: 20px;
    color: white;
}

.white-cp span {
    font-size: 30px;
}

.hotcountry {
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
    color: #000000;
}



.visa-more {
    display: block;
    width: 232px;
    height: 50px;
    margin: 50px auto;
    border: solid 1px #000000;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: #000000;
}

.wish {
    width: 100%;
    background: url(img/back.png) no-repeat;
}
.wish .container{
    padding: 0;
}

.wish-p1 {
    margin-top: 80px;
    font-size: 36px;
    color: #000000;
}

.wish-p2 {
    margin-top: 20px;
    font-size: 16px;
    color: #000000;
}

.wish-cp{
    display: none;
}

.wish-miss1{
    height: 345px;
    z-index: 100;
    padding: 0;
}

.wish-server {
    height: 345px;
    padding-top: 70px;
    background: #1c5080cc;
}

.wish-server h3 {
    margin-top: 0;
    color: white;
}

.wish-server p {
    display: block;
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    line-height: 2.5em;
}

.miss2{
    padding: 0;
    margin-top: 3px;
}
.wish-server h4{
    display: none;
}
.server-ln{
    display: none;
}

.pz-three{
    padding: 0; 
    margin-top: 3px;
    background:#1c5080;
}

.three-cp{
    display: none;
}

.three-pz {
    text-align: center;
    height: 400px;
    background: url(img/rorate.png) no-repeat;
    background-position: center 44px;
}

.three-pz img {
    margin-top: 94px;
}

.three-pz h5 {
    color: white;
    margin-top: 15px;
    font-size: 20px;
}

.three-pz p {
    color: white;
    margin-top: 80px;
    font-size: 16px;
}

.partner {
    margin-top: 45px;
    color: white;
}

.partner dt {
    width: 60px;
}

.partner dd {
    margin-left: 80px;
}

.partner-logo a {
    display: block;
    float: left;
    width: 120px;
    margin-left: 10px;
    background: black;
    font-size: 14px;
    text-align: center;
    color: white;
    line-height: 2em;
}

.hotlocation {
    color: white;
}

.hotlocation dt {
    width: 60px;
}

.hotlocation dd {
    margin-left: 80px;
}

.hotlocation dd a {
    margin-left: 10px;
    color: white;
    font-size: 14px;
}

.footer-foot {
    border-top: solid 1px #404040;
    height: 160px;
}

.footer-foot p {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 44px;
}
.footer-foot h4{
    display: none;
}

@media(max-width:750px){
    .bbanner{
        display: none;
    }
    .wish{
        border-top: solid 30px #e8e8e8; 
    }
    .wish div{
        padding: 0 25px;
    }
    .wish-p{
        display: none;
    }
    .wish-cp{
        display: block;
    }
    .wish-cp p{
        display: block;
        border-left: solid 4px #cb5405;
        margin-top: 0;
        text-align: left;
        letter-spacing: 0;
        font-size: 30px;
        color: #000000;
        margin:40px 0;
    }
    .wish-miss1 img{
        width: 100%;
        height: auto;
    }
    .wish-server{
        background: white;
        height: auto;
        margin-bottom: 60px;
        margin-top: 100px;
    }
    .wish-server p{
        color: #000000;
        margin: 0;
        font-size: 22px;
    }
    .wish-server h3{
        display: none;
    }
    .wish-server h4{
        display: block;
        margin: 20px 0;
        color: #000000;
        font-size: 30px;
    }
    .server-ln{
        display: block;
        margin-top: 80px;
    }
    .server-ln h4{
        display: block;
        margin: 20px 0;
        color: #000000;
        font-size: 30px;
    }
    .pz-three{
        display: none;
    }
    .three-cp-pz{
        height: 190px;
        border-bottom: solid 1px black;
    }
    .three-cp-pz p{
        font-size: 22px;
    }




    .other{
        display: none;
    }
    .footer-foot p{
        display: none;
    }
    .footer-foot h4{
        display: block;
        font-size: 22px;
        color: white;
        line-height: 1.8em;
    }
    .three-cp{
        display:block;
    }
}